[submodule "uboot"]
	path = uboot
	url = https://github.com/MiyooCFW/uboot
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/MiyooCFW/buildroot
[submodule "gmenu2x"]
	path = gmenu2x
	url = https://github.com/MiyooCFW/gmenu2x
[submodule "daemon"]
	path = daemon
	url = https://github.com/MiyooCFW/daemon
[submodule "kernel"]
	path = kernel
	url = https://github.com/MiyooCFW/kernel
[submodule "logo"]
	path = logo
	url = https://github.com/MiyooCFW/logo
[submodule "miyooctl"]
	path = miyooctl
	url = https://github.com/MiyooCFW/miyooctl.git
